
.wapper
  .side-bar
    .header
      %h3.header_name
        アカウント名
      %ul.header_lists
        %li.list
          = link_to do
            = fa_icon "pencil-square-o"
        %li.list
          = link_to  do
            = fa_icon "cog"
    .groups
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
      .group
        .group_name
          グループ名
        .group_message
          メッセージ
  .chat
    .chat__header
      .left-header
        .left-header__title
          sampleグループ
        %ul.left-header__members
          Members
          %li.member
          xxxxxxxxx
      .right-header
        .right-header__button
          Edit
    .messages.js-messages
      .message
        .upper_message
          .upper_message__user_name
            name
          .upper_message__date
            2018/05/25
        .lower_message
          .lower_message__text
            image
      .message
        .upper_message
          .upper_message__user_name
            name
          .upper_message__date
            2018/05/25
        .lower_message
          .lower_message__text
            image
      .message
        .upper_message
          .upper_message__user_name
            name
          .upper_message__date
            2018/05/25
        .lower_message
          .lower_message__text
            messages
    .form
      %form__js_form
        .form__mask
          %label.form_mask_image
            = fa_icon 'fa-picture-o', class: 'icon'
            %input.hidden{type: 'file'}
          %input.form__submit{type: "submit", value: "Send"}


